body {
    transition: background-color 0.3s ease-in-out;
}

body.light-mode {
    background-color: #fff;
    color: #333;
}
body.dark-mode {
    background-color: #1a1919;
    color: #999;
}

main {
    width: 600px;
    margin: 10vh auto;
}